<div class="ui container">
    <br />
    <p>All instances of the "Twitter" logo and branding are property of Twitter. <br>
        This site was made by Nick B, Robert D, Patrick B, Garrett B, and Joel S. in 2020</p>
  </div>
</body>

</html>
