<!DOCTYPE html>
	<head>
        <meta charset="UTF-8">
        <html lang="en"></html>
		<title>TCA GroupProject</title>
		<link rel="shortcut icon" href="/images/twitter.ico" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui blue fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="twitter outline icon"></i>Twitter Clone App</div>	
				<a href="/" class="item">Home</a>
				<a href="/posts/new" class="item">New Post</a>
			</div>
		</div>