<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TCA GroupProject</title>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
   <link rel="stylesheet" href="/stylesheets/app.css">
<link rel="shortcut icon" href="/images/twitter.ico" />
</head>
<body>
<div class="ui blue fixed inverted menu">
	<div class="ui container">
		<div class="header item"><i class="twitter square"></i>Twitter</div>
		<a href="/" class="item">Home</a>
		<a href="/posts/new" class="item">New Tweet</a>
    </div>
	</div>
	
